amqp==5.0.6; python_version >= "3.7"
asgiref==3.4.1; python_version >= "3.6"
billiard==3.6.4.0; python_version >= "3.7"
celery==5.2.1; python_version >= "3.7"
click-didyoumean==0.3.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
click-plugins==1.1.1; python_version >= "3.7"
click-repl==0.2.0; python_version >= "3.7"
click==8.0.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
dj-database-url==0.5.0
django==3.2.9; python_version >= "3.6"
djangorestframework==3.12.4; python_version >= "3.5"
gunicorn==20.1.0; python_version >= "3.5"
kombu==5.2.2; python_version >= "3.7"
prompt-toolkit==3.0.22; python_full_version >= "3.6.2" and python_version >= "3.7"
psycopg2-binary==2.9.2; python_version >= "3.6"
python-decouple==3.5
pytz==2021.3; python_version >= "3.7"
redis==4.0.1; python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.6"
vine==5.0.0; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
